<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style = "display: flex; flex-direction: row; gap: 10px; padding: 10px; border: 1px solid black; width: 800px; height: 800px; justify-content: center;">
        <div style="background-color: red; height:200px; width: 200px;">
            hello
        </div>
        <div style="background-color: blue; height:200px; width: 200px;">
            hello2
        </div>
    </div>
</body>
</html>